* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
.fixed {
  position: fixed;
  top: 0;
}
.w {
  width: 1349px;
  margin: 0 auto;
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.header {
  width: 1349px;
  margin: 0 auto;
  overflow: hidden;
}
.header img {
  float: left;
  padding-left: 50px;
}
.header ul {
  float: right;
  padding-right: 30px;
}
.header ul li {
  float: right;
  margin: 10px;
  line-height: 45px;
  font-weight: bold;
}
.header ul li a {
  display: block;
  height: 50px;
  color: #008CBA;
}
.header ul li a:hover {
  color: #1B394E;
}
.header ul .n_s {
  font-weight: normal;
}
.h_nav {
  background-color: #2D96CD;
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 3;
}
.h_nav .n_left {
  float: left;
  width: 350px;
  background-color: #1B394E;
}
.h_nav .n_left img {
  float: left;
  padding: 20px 30px;
}
.h_nav .n_left a {
  float: left;
  padding-top: 30px;
}
.h_nav .n_right {
  float: right;
  width: 450px;
  margin-right: 100px;
}
.h_nav .n_right img {
  float: left;
  padding-top: 28px;
  margin-left: 30px;
}
.h_nav .n_right a {
  float: left;
  padding-top: 24px;
  margin-left: 13px;
}
.show1 {
  float: left;
  width: 350px;
  position: fixed;
  left: 0;
  top: 146px;
  display: none;
  z-index: 2;
  background-color: #fff;
}
.show1 ul {
  float: right;
}
.show1 ul li {
  border-bottom: 1px solid #E0E0E0;
  margin: 10px;
  line-height: 30px;
  width: 200px;
}
.show1 ul li a {
  color: #47A6DE;
}
.show1 ul li a:hover {
  color: #527595;
}
.slider .home-hero {
  width: 1349px;
  height: 470px;
  position: absolute;
  overflow: hidden;
}
.slider .home-hero #home-hero-slider {
  float: left;
  width: 4047px;
  position: absolute;
}
.slider .home-hero #home-hero-slider a {
  float: left;
  position: relative;
}
.slider .home-hero #home-hero-slider a h2 {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 60px;
  left: 100px;
}
.slider .home-hero #home-hero-slider a h3 {
  position: absolute;
  top: 120px;
  left: 100px;
  font-size: 30px;
}
.slider .home-hero #home-hero-slider a p {
  position: absolute;
  top: 200px;
  left: 100px;
  background-color: #008CBA;
  color: #fff;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.slider .home-hero #home-hero-slider a p:hover {
  color: #008CBA;
  background-color: #fff;
  border: 1px solid #008CBA;
}
.slider .home-hero .but1 {
  width: 100px;
  text-align: center;
  position: absolute;
  top: 440px;
  left: 660px;
}
.slider .home-hero .but1 span {
  float: left;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
.slider .home-hero .but1 .on {
  background-color: #fff;
  opacity: 0.4;
  border: 2px solid #2D96CD;
}
.slider .home-hero .arr1,
.slider .home-hero .arr2 {
  position: absolute;
  right: 0px;
  top: 240px;
  width: 0px;
  height: 50px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  background-color: #2D96CD;
  color: #fff;
}
.slider .home-hero .arr1:hover,
.slider .home-hero .arr2:hover {
  background-color: #fff;
  color: #2D96CD;
}
.slider .home-hero .arr2 {
  top: 290px;
  background-color: #000;
  opacity: 0.7;
}
.floor1 {
  padding-top: 467px;
}
.floor1 ul {
  float: left;
}
.floor1 ul li {
  float: left;
  width: 337px;
  height: 200px;
  border-right: 1px  solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
}
.floor1 ul li p {
  padding-left: 50px;
  padding-top: 50px;
  font-size: 26px;
}
.floor1 ul li span {
  padding-left: 50px;
  line-height: 30px;
  font-size: 20px;
}
.floor1 ul li:first-child {
  border-right: none;
}
.floor1 ul li:last-child {
  border-right: none;
}
.floor2 {
  height: 600px;
}
.floor2 .home-hero_1 {
  width: 1349px;
  height: 470px;
  position: absolute;
  overflow: hidden;
}
.floor2 .home-hero_1 #home-hero-slider_1 {
  float: left;
  width: 4047px;
  position: absolute;
}
.floor2 .home-hero_1 #home-hero-slider_1 a {
  float: left;
  position: relative;
}
.floor2 .home-hero_1 #home-hero-slider_1 a .text {
  width: 600px;
}
.floor2 .home-hero_1 #home-hero-slider_1 a .text h2 {
  color: #6F6F6F;
  font-size: 40px;
  position: absolute;
  top: 60px;
  left: 100px;
}
.floor2 .home-hero_1 #home-hero-slider_1 a .text h3 {
  position: absolute;
  top: 140px;
  left: 100px;
  font-size: 20px;
  color: #6F6F6F;
  width: 370px;
}
.floor2 .home-hero_1 #home-hero-slider_1 a .text p {
  position: absolute;
  top: 250px;
  left: 100px;
  background-color: #008CBA;
  color: #fff;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.floor2 .home-hero_1 #home-hero-slider_1 a .text p:hover {
  color: #008CBA;
  background-color: #fff;
  border: 1px solid #008CBA;
}
.floor2 .home-hero_1 .but1_1 {
  width: 100px;
  text-align: center;
  position: absolute;
  top: 440px;
  left: 660px;
}
.floor2 .home-hero_1 .but1_1 span {
  float: left;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
.floor2 .home-hero_1 .but1_1 .on {
  background-color: #fff;
  opacity: 0.4;
  border: 2px solid #2D96CD;
}
.floor2 .home-hero_1 .arr1_1,
.floor2 .home-hero_1 .arr2_1 {
  position: absolute;
  right: 0px;
  top: 240px;
  width: 0px;
  height: 50px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  background-color: #2D96CD;
  color: #fff;
}
.floor2 .home-hero_1 .arr1_1:hover,
.floor2 .home-hero_1 .arr2_1:hover {
  background-color: #fff;
  color: #2D96CD;
}
.floor2 .home-hero_1 .arr2_1 {
  top: 290px;
  background-color: #000;
  opacity: 0.7;
}
.floor3 {
  margin-top: 50px;
  background-image: url(../img/fttxz_9.jpg);
  height: 328px;
  text-align: center;
}
.floor3 .text {
  padding-top: 60px;
}
.floor3 .text p {
  font-size: 40px;
  color: #fff;
}
.floor3 .text span {
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  background-color: #008CBA;
  color: #fff;
  margin-left: 40px;
  margin-top: 30px;
  cursor: pointer;
}
.floor3 .text span:hover {
  background-color: #fff;
  color: #008CBA;
}
.floor4 .control {
  text-align: center;
  margin: 40px;
  color: #209AC2;
  position: relative;
  cursor: pointer;
}
.floor4 .control img {
  position: absolute;
  top: 4px;
  left: 676px;
}
.floor4 .show2 {
  margin: 40px 0 0 0;
  background-color: #F7F7F7;
  height: 100px;
  border-top: 1px solid #CCCCCC;
}
.floor4 .show2 p {
  font-size: 14px;
  line-height: 22px;
  color: #949494;
  padding-left: 20px;
  margin-bottom: 10px;
}
.floor4 .show2 p:first-child {
  padding-top: 30px;
}
.footer {
  border-top: 70px solid #343434;
  border-bottom: 30px solid #1B394E;
  background-color: #000;
}
.footer .links {
  padding: 20px;
  float: left;
}
.footer .links dl {
  float: left;
  margin: 20px 80px;
  font-size: 12px;
}
.footer .links dl a {
  color: #9F9F9F;
}
.footer .links dl dt {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
}
.footer .links dl dt a {
  color: #DFDFDF;
}
.footer .links dl dd {
  margin: 10px 0;
}
.ff {
  margin: 20px 0;
}
.ff ul {
  float: left;
  padding-left: 20px;
}
.ff ul li {
  float: left;
  margin: 10px;
  font-size: 12px;
}
.ff ul li a {
  color: #979797;
}
