* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
.fixed {
  position: fixed;
  top: 0;
}
.w {
  width: 1349px;
  margin: 0 auto;
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.header {
  width: 1349px;
  margin: 0 auto;
  overflow: hidden;
}
.header img {
  float: left;
  padding-left: 50px;
}
.header ul {
  float: right;
  padding-right: 30px;
}
.header ul li {
  float: right;
  margin: 10px;
  line-height: 45px;
  font-weight: bold;
}
.header ul li a {
  display: block;
  height: 50px;
  color: #008CBA;
}
.header ul li a:hover {
  color: #1B394E;
}
.header ul .n_s {
  font-weight: normal;
}
.content {
  width: 100%;
  margin-top: 20px;
}
.content .container {
  width: 1349px;
  margin: 0 auto;
  overflow: hidden;
}
.content .container h1 {
  font-size: 50px;
  color: #616161;
  float: left;
  width: 1369px;
  padding-left: 20px;
}
.content .container p {
  font-size: 35px;
  color: #616161;
  padding: 40px 10px 10px 50px;
}
.content .container .car,
.content .container .car2,
.content .container .car3,
.content .container .car4,
.content .container .car5 {
  float: left;
  padding-top: 40px;
  padding-left: 40px;
  position: relative;
}
.content .container .car .show,
.content .container .car2 .show,
.content .container .car3 .show,
.content .container .car4 .show,
.content .container .car5 .show {
  width: 300px;
}
.content .container .car .car_show,
.content .container .car2 .car_show,
.content .container .car3 .car_show,
.content .container .car4 .car_show,
.content .container .car5 .car_show {
  background-color: #fff;
}
.content .container .car .car_show:hover,
.content .container .car2 .car_show:hover,
.content .container .car3 .car_show:hover,
.content .container .car4 .car_show:hover,
.content .container .car5 .car_show:hover {
  border: 1px solid #2D96CD;
}
.content .container .car .car_show h2,
.content .container .car2 .car_show h2,
.content .container .car3 .car_show h2,
.content .container .car4 .car_show h2,
.content .container .car5 .car_show h2 {
  margin-left: 15px;
  color: #008CBA;
  font-weight: bold;
  font-size: 20px;
  width: 240px;
  margin-top: 15px;
  line-height: 40px;
  padding-bottom: 5px;
  border-bottom: 1px solid #B3B3B3;
}
.content .container .car .car_show h3,
.content .container .car2 .car_show h3,
.content .container .car3 .car_show h3,
.content .container .car4 .car_show h3,
.content .container .car5 .car_show h3 {
  margin-left: 15px;
  color: #979797;
  padding-top: 10px;
}
.content .container .car .car_show h4,
.content .container .car2 .car_show h4,
.content .container .car3 .car_show h4,
.content .container .car4 .car_show h4,
.content .container .car5 .car_show h4 {
  width: 240px;
  line-height: 40px;
  background-color: #2D96CD;
  color: #fff;
  margin: 15px 0;
  margin-left: 15px;
  text-align: center;
  display: none;
}
.content .container .car .car_show h4:hover,
.content .container .car2 .car_show h4:hover,
.content .container .car3 .car_show h4:hover,
.content .container .car4 .car_show h4:hover,
.content .container .car5 .car_show h4:hover {
  background-color: #fff;
  color: #008CBA;
  border: 1px solid #008CBA;
  cursor: pointer;
}
.footer {
  margin-top: 2800px;
  border-top: 70px solid #343434;
  border-bottom: 30px solid #1B394E;
  background-color: #000;
}
.footer .links {
  padding: 20px;
  float: left;
}
.footer .links dl {
  float: left;
  margin: 20px 80px;
  font-size: 12px;
}
.footer .links dl a {
  color: #9F9F9F;
}
.footer .links dl dt {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
}
.footer .links dl dt a {
  color: #DFDFDF;
}
.footer .links dl dd {
  margin: 10px 0;
}
.ff {
  margin: 20px 0;
}
.ff ul {
  float: left;
  padding-left: 20px;
}
.ff ul li {
  float: left;
  margin: 10px;
  font-size: 12px;
}
.ff ul li a {
  color: #979797;
}
