* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
.fixed {
  position: fixed;
  top: 0;
}
.w {
  width: 1349px;
  margin: 0 auto;
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.header {
  width: 1349px;
  margin: 0 auto;
  overflow: hidden;
}
.header .nav {
  overflow: hidden;
}
.header .nav img {
  float: left;
  padding-left: 50px;
}
.header .nav ul {
  float: right;
  padding-right: 30px;
  position: relative;
}
.header .nav ul li {
  float: left;
  margin: 10px;
  line-height: 45px;
  font-weight: bold;
}
.header .nav ul li a {
  display: block;
  height: 50px;
  color: #008CBA;
}
.header .nav ul li a:hover {
  color: #1B394E;
}
.header .nav ul .n_s {
  font-weight: normal;
}
.header .nav .tabs {
  position: absolute;
  width: 1349px;
  top: 70px;
  border-top: 1px solid #DBDBDB;
  display: none;
}
.header .nav .Div1 img {
  width: 1349px;
  padding-left: 0;
  cursor: pointer;
}
.header .nav .Div1 .category-links-column {
  padding-top: 260px;
  text-align: center;
}
.header .nav .Div1 .category-links-column p {
  width: 300px;
  height: 50px;
  background-color: #5EB6D3;
  margin: 30px 550px;
  line-height: 50px;
  cursor: pointer;
}
.header .nav .Div1 .category-links-column p:hover {
  background-color: #fff;
  border: 1px solid #008CBA;
}
.header .nav .Div1 .category-links-column p:hover a {
  color: #008CBA;
}
.header .nav .Div2 {
  overflow: hidden;
}
.header .nav .Div2 .text2 {
  padding-top: 20px;
  padding-left: 20px;
  margin: 0px 10px;
  width: 310px;
  float: left;
  height: 300px;
}
.header .nav .Div2 .text2 h3 {
  font-size: 24px;
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 10px;
  color: #616161;
}
.header .nav .Div2 .text2 p {
  line-height: 30px;
  padding-top: 10px;
}
.header .nav .Div2 .text2 p a {
  color: #5EB6D3;
}
.header .nav .Div3 {
  overflow: hidden;
}
.header .nav .Div3 .text3 {
  padding-top: 20px;
  padding-left: 20px;
  margin: 0px 10px;
  width: 310px;
  float: left;
  height: 350px;
}
.header .nav .Div3 .text3 h3 {
  font-size: 24px;
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 10px;
  color: #616161;
}
.header .nav .Div3 .text3 p {
  line-height: 30px;
  padding-top: 10px;
}
.header .nav .Div3 .text3 p a {
  color: #5EB6D3;
}
.header .nav .Div3 .text3 .category-links-column {
  float: left;
}
.header .nav .Div3 .long {
  width: 620px;
}
.header .nav .Div3 .long .category-links-column {
  margin-right: 200px;
}
.header .nav .Div4,
.header .nav .Div6 {
  overflow: hidden;
}
.header .nav .Div4 .text4,
.header .nav .Div6 .text4,
.header .nav .Div4 .text6,
.header .nav .Div6 .text6 {
  padding-top: 20px;
  padding-left: 20px;
  margin: 0px 10px;
  width: 310px;
  float: left;
  height: 300px;
}
.header .nav .Div4 .text4 h3,
.header .nav .Div6 .text4 h3,
.header .nav .Div4 .text6 h3,
.header .nav .Div6 .text6 h3 {
  font-size: 24px;
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 10px;
  color: #616161;
}
.header .nav .Div4 .text4 p,
.header .nav .Div6 .text4 p,
.header .nav .Div4 .text6 p,
.header .nav .Div6 .text6 p {
  line-height: 30px;
  padding-top: 10px;
}
.header .nav .Div4 .text4 p a,
.header .nav .Div6 .text4 p a,
.header .nav .Div4 .text6 p a,
.header .nav .Div6 .text6 p a {
  color: #5EB6D3;
}
.header .nav .Div5 {
  overflow: hidden;
}
.header .nav .Div5 .text5 {
  padding-top: 20px;
  padding-left: 20px;
  margin: 0px 10px;
  width: 310px;
  float: left;
  height: 300px;
}
.header .nav .Div5 .text5 h3 {
  font-size: 24px;
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 10px;
  color: #616161;
}
.header .nav .Div5 .text5 p {
  line-height: 30px;
  padding-top: 10px;
}
.header .nav .Div5 .text5 p a {
  color: #5EB6D3;
}
.header .nav .show {
  display: block;
}
.header .nav .activ {
  color: #1B394E;
}
